@model IEnumerable<Films.Kernel.Context.Actor>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>MiddleName</th>
        <th>Birth</th>
        <th>Films</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.FirstName</td>
        <td>@item.Id</td>
        <td>@item.LastName</td>
        <td>@item.MiddleName</td>
        <td>@item.Birth</td>
        <td>
            @foreach (var film in item.Films)
            {
                @film<br>
            }
        </td>
        <td>
            <button class="btn-info form-control" onclick="hrefActor('Details', @item.Id)">Details</button>
        </td>
        <td>
            <button class="btn-warning form-control" onclick="hrefActor('Edit', @item.Id)">Edit</button>
        </td>
        <td>
            <button class="btn-danger form-control" onclick="hrefActor('Remove', @item.Id)">Remove</button>
        </td>
    </tr>
}

</table>
