@model IEnumerable<Films.Kernel.Context.Actor>

<div>
    <div class="col-md-10">
        <input class="form-control" id="search" onkeyup="search(6)" type="text" placeholder="Search" />
    </div>
    <div class="col-md-1">
        <button class="btn-success form-control" onclick="hrefActor('Create')">Create New</button>
    </div>
    <div class="col-md-1">
        <button class="btn-warning form-control" onclick="hrefStart()">Tables</button>
    </div>
</div><br /><br />

<table class="table" id="table">
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>MiddleName</th>
        <th>Birth</th>
        <th>Films</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.Id</td>
        <td>@item.FirstName</td>
        <td>@item.LastName</td>
        <td>@item.MiddleName</td>
        <td>@item.Birth</td>
        <td>
            @foreach (var film in item.Films)
            {
                @film<br>
            }
        </td>
        <td>
            <button class="btn-info form-control" onclick="hrefActor('Details', @item.Id)">Details</button>
        </td>
        <td>
            <button class="btn-warning form-control" onclick="hrefActor('Edit', @item.Id)">Edit</button>
        </td>
        <td>
            <button class="btn-danger form-control" onclick="hrefActor('Remove', @item.Id)">Remove</button>
        </td>
    </tr>
}

</table>
